[submodule "vendor/geonode"]
	path = vendor/geonode
	url = https://github.com/boundlessgeo/geonode.git
	branch = exchange/1.4.x
[submodule "vendor/maploom"]
	path = vendor/maploom
	url = https://github.com/boundlessgeo/MapLoom.git
[submodule "vendor/sphinx-theme"]
	path = vendor/sphinx-theme
	url = https://github.com/boundlessgeo/sphinx-theme.git
[submodule "vendor/django-osgeo-importer"]
	path = vendor/django-osgeo-importer
	url = https://github.com/Geonode/django-osgeo-importer.git
	branch = angular-1.6
[submodule "vendor/gsconfig"]
	path = vendor/gsconfig
	url = https://github.com/boundlessgeo/gsconfig.git
[submodule "vendor/geonode-elasticsearch"]
	path = vendor/geonode-elasticsearch
	url = https://github.com/boundlessgeo/geonode-elasticsearch.git
[submodule "vendor/docker"]
	path = vendor/docker
	url = https://github.com/boundlessgeo/docker.git
[submodule "vendor/exchange-mobile-extension"]
	path = vendor/exchange-mobile-extension
	url = https://github.com/boundlessgeo/exchange-mobile-extension.git
