{% extends "site_base.html" %}
{% load i18n %}

{% block title %} {% trans "About" %} - {{ block.super }} {% endblock %}

{% block middle %}
{% block mainbody %}
<div class="container" style="text-align: center">
  <h1>Boundless Exchange</h1>
  v{{ exchange_version }}
  <br>
  <p>Boundless Exchange is a web-based platform for your content, built for your enterprise. It facilitates the creation, sharing, and collaborative use of geospatial data. For power users, advanced editing capabilities for versioned workflows via the web browser are included. Boundless Exchange is powered by GeoNode, GeoGig, OpenLayers, PostGIS and GeoServer. Boundless Exchange is designed as a platform for collaboration.</p>
</div>
<div class="container">
  <h2>Version Details</h2>
  <ul>
    {% for project in projects %}
    <div style="float: left; width: 50%"><li><h4>{{ project.name }} version: v{{ project.version }}</h4></li></div>
    <!-- TODO: only display link if the Exchange instance can reach open Internet -->
    <div style="float: left; width: 50%"><li><h4>{% if project.commit %}{{ project.name }} code revision: {% if project.boundless_repo %}<a href="{{ project.boundless_repo }}/commit/{{ project.commit }}">{% else %}<a href="{{ project.repo }}/commit/{{ project.commit }}">{% endif %}{{ project.commit }}</a>{% else %}&nbsp;{% endif %}</h4></li></div>
    {% endfor %}
  </ul>
</div>
<div class="container">
  <h2>License</h2>
  <p>Boundless Exchange is free software licensed under GNU General Public License (version 3). Refer to the included license.txt file for the full license.</p>
</div>
{% endblock %}
{% endblock %}
