{% load i18n avatar_tags %}
{% load theme_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    {% block head %}
      {% if DEBUG_STATIC %}
      <link href="{{ STATIC_URL }}lib/css/jquery.dataTables.css?v={{ VERSION }}" rel="stylesheet" />
      <link href="{{ STATIC_URL }}lib/css/select2.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/bootstrap.min.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/jquery-ui.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/bootstrap-datetimepicker.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/bootstrap-tokenfield.css?v={{ VERSION }}" rel="stylesheet"/>
      {% else %}
      <link href="{{ STATIC_URL }}lib/css/assets.min.css?v={{ VERSION }}" rel="stylesheet"/>
      {% endif %}
      <link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css?v={{ VERSION }}" rel="stylesheet" />
      <link href="{{ STATIC_URL }}geonode/css/base.css?v={{ VERSION }}" rel="stylesheet" />
      <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
      {% block extra_head %}
      {% endblock %}
    {% endblock %}
    {% include 'tracking_header.html' %}
    <!--[if IE]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style>
        #ieflag{
            display: block !important;
            height: 150px;
            text-align: center;
        }
      </style>
    <![endif]-->
    <link rel="search" type="application/opensearchdescription+xml" href="/catalogue/opensearch" title="Exchange Search"/>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!-- Navbar -->
    {% block header %}
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <i class="fa fa-navicon fa-lg"></i>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">Exchange</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav toolbar">
              {% block tabs %}
              {% if user.is_authenticated %}
              <li id="nav_layers">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {% trans "Data" %}
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "search" %}?type=layer">{% trans "Layers" %}</a></li>
                  <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
                  <li role="separator" class="divider"></li>
                  {% if perms.layers.add_layer == True or user.is_staff == True or user.is_superuser == True %}
                  <li><a href="{% url "layer_upload" %}" id="upload-layer">{% trans "Upload Layer" %}</a></li>
                  <li><a href="{% url "layer_create" %}" id="create-layer">{% trans "Create Layer" %}</a></li>
                  {% endif %}
                  {% if perms.documents.add_document == True or user.is_staff == True or user.is_superuser == True %}
                  <li><a href="{% url "document_upload" %}" id="upload-document">{% trans "Upload Document" %}</a></li>
                  {% endif %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url "services" %}">{% trans "Manage Remote Services" %}</a></li>
                </ul>
              </li>
              <li id="nav_maps">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% trans "Maps" %}
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url "search" %}?type=map">{% trans "Explore Maps" %}</a></li>
                    {% if perms.maps.add_map == True or user.is_staff == True or user.is_superuser == True %}
                    <li> <a href="{% url "new_map" %}" id="create-map">{% trans "Create Map" %}</a></li>
                    {% endif %}
                    {% if STORYSCAPES_ENABLED %}
                    <li><a href="/story/new">Compose Story</a></li>
                    {% endif %}
                  </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {% trans "About" %}
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                  <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                  {% if perms.announcements.can_manage %}
                    <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                  {% endif %}
                  {% if user.is_superuser %}
                    <li role="separator" class="divider"></li>
                    <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
                    <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
                    <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                  {% endif %}
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url "about" %}" target="_new">{% trans "Exchange" %}</a></li>
                </ul>
              </li>
              {% endif %}
              {% block extra_tab %}
              {% endblock %}
              {% endblock %}

              {% if not user.is_authenticated and REGISTRATION_OPEN %}
                <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                <li>
                  <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% avatar user 42 %} {{ user.username }}
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                    <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
                     {% if user.is_staff %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "admin:index" %}">Admin</a></li>
                    <li><a href="{{ GEOSERVER_BASE_URL }}">GeoServer</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "help" %}">{% trans "Help" %}</a></li>
                    <li role="separator" class="divider"></li>
                    {% if not GEOAXIS_ENABLED %}
                      <li><a href="{% url "exchange_logout" %}">Logout</a></li>
                    {% endif %}
                  </ul>
                </li>

              <li>
                <div class="search">
                  <form id="search" action="{% url "search" %}" >
                    <span class="fa fa-search"></span>
                    {% if ES_SEARCH or HAYSTACK_SEARCH %}
                      <input id="search_input" type="text" placeholder="Search" name="q">
                    {% else %}
                      <input id="search_input" type="text" placeholder="Search" name="title__icontains">
                    {% endif %}
                  </form>
                </div>
              </li>
              {% endif %}
            </ul>
          </div> <!--/.nav-collapse -->
        </div>
      </nav>
    {% endblock header %}
    <!-- End of Navbar -->

    <div class="alert alert-danger alert-dismissible" role="alert" id="ieflag" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>You are using an outdated browser that is not supported by Exchange.</h1>
      <p>Please use a <strong>modern browser</strong> like Mozilla Firefox, Google Chrome or Safari.</p>
    </div>

  <div id="wrap">
    {% block middle %}
    <div class="container">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}{% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}
  </div>

  {% block footer %}
      {% get_theme as theme %}
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="text-center stacked">
              {% if theme.about_link %}
                <a href="{{ theme.about_link }}" target="_new">
              {% else %}
                <a href="{% url "about" %}" target="_new">
              {% endif %}
              {% if theme.about_text %}
                {{ theme.about_text }}
              {% else %}
                {% trans "About" %}
              {% endif %}
              </a>
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <span>{% trans "Powered by" %}&nbsp;&nbsp;
                {% if theme.pb_link %}
                  <a href="{{ theme.pb_link }}" target="_new">
                {% else %}
                  {% if not DISABLE_BOUNDLESS_LINK_IN_FOOTER %}
                    <a href="http://boundlessgeo.com" target="_new">
                  {% endif %}
                {% endif %}
                {% if theme.pb_text %}
                  {{ theme.pb_text }}</a>
                {% else %}
                  Boundless Spatial</a>
                {% endif %}
                &nbsp;&nbsp;{% trans "version" %} {{ VERSION }}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                {% if theme.docs_link %}
                  <a href="{{ theme.docs_link }}" target="_new">
                {% else %}
                  <a href="/static/docs/html/index.html" target="_new">
                {% endif %}
                {% if theme.docs_text %}
                  {{ theme.docs_text }}</a>
                {% else %}
                  {% trans "Documentation" %}</a>
                {% endif %}
            </div>
          </div>
        </div> <!-- /.container -->
        {% include 'tracking_footer.html' %}
      </footer>
  {% endblock footer %}


    <!-- Modal must stay outside the navbar -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Log In" %}</h4>
          </div>
          <form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_username" class="sr-only">{% trans "Username" %}:</label>
                <input id="id_username" class="form-control" name="username" placeholder="{% trans "Username" %}" type="text" />
              </div>
              <div class="form-group">
                <label for="id_password" class="sr-only">{% trans "Password" %}:</label>
                <input id="id_password" class="form-control" name="password" placeholder="{% trans "Password" %}" type="password" />
              </div>
              <label class="checkbox">
                <input type="checkbox" /> {% trans "Remember Me" %}
              </label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block">{% trans "Log In" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End of Modal -->

    {% if DEBUG_STATIC %}
    <script src="{{ STATIC_URL }}lib/js/jquery.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.dataTables.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.timeago.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.ajaxprogress.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.ajaxQueue.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery-ui.custom.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.raty.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/bootstrap.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/moment-with-locales.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/bootstrap-datetimepicker.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/json2.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/select2.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/waypoints.js?v={{ VERSION }}"></script>
    {% else %}
    <script src="{{ STATIC_URL }}lib/js/assets.min.js?v={{ VERSION }}"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}geonode/js/utils/utils.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}geonode/js/base/base.js?v={{ VERSION }}"></script>
    {% include 'autocomplete_light/static.html' %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    {% block extra_script %}{% endblock extra_script %}
    <script type="text/javascript">
        var autocomplete = $('#search_input').yourlabsAutocomplete({
            url: '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}',
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: '{% trans 'Type your search here ...' %}',
            appendAutocomplete: $('#search_input'),
            autoHilightFirst: false
        });
        $('#search_input').bind('selectChoice', function(e, choice, autocomplete) {
            if(choice[0].children[0] == undefined) {
                $('#search_input').val($(choice[0]).text());
                $('#search').submit();
            }
        });
    </script>
    <script>
        // Workaround to fix the autocomplete box positions
        yourlabs.Autocomplete.prototype.fixPosition = function(html) {
            this.input.parents().filter(function() {
                return $(this).css('overflow') === 'hidden';
            }).first().css('overflow', 'visible');
            if(this.input.attr('name') !== 'resource-keywords'){
              this.box.insertAfter(this.input).css({top: 28, left: 0});
            }else{
              var pos = $.extend({}, this.input.position(), {
                height: this.input.outerHeight()
              });
              this.box.insertAfter(this.input).css({top: pos.top + pos.height, left: pos.left});
            }
        };

      $(function () {
        $('#modal').modal('toggle');
      });
    </script>
    <script type="text/javascript" src="{% url "lang" %}"></script>

  </body>
</html>
